<!doctype html>
<html>
<head>
<title>The Supermarkt Quiz</title>
<link rel='stylesheet' href='/static/bootstrap/css/bootstrap.css' />
<style>
main button.btn{
	font-size: 200%;
}
main {
	width: 500px;
	margin: 1em auto 1em auto;
	background-color: white;
	padding: 2em;
	border-radius: 1em;
	border: solid 1px #ccc;
	box-shadow: 0px 0px 3px #CCC;
}
body {
	background-color: #ff6600;
}
</style>
</head>

<body>

<main>
<h1>What your supermarket purchase says about your personality!</h1>
<br/>
<br/>
<br/>
<br/>
<p align='center'>
<button type='button' class='btn btn-primary'>Start ▶</button>
</p>

</main>

</body>

</html>

